.p {
  background-color: lightblue;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  height: 300px;
}
.list > div {
  width: 200px;
  height: 100px;
  background-color: blue;
}