.page1-nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page1-nav > .page1-nav-left > i {
  color: #333333 !important;
}
.page1-nav > .page1-nav-left a {
  color: #333333 !important;
}
.page1-nav > .page1-nav-right button {
  background-color: #2a5caa;
  color: white;
  font-weight: bold;
}
.page1-search {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3fa;
}
.page1-search > .page1-search-left button {
  background-color: #009966 !important;
  height: 26px;
  line-height: 17px;
  padding: 5px 16px;
  font-size: 12px;
}
.page1-search > .page1-search-left .other {
  background-color: transparent !important;
  color: #333333;
}
.page1-search > .page1-search-left .other:hover {
  background-color: #009966 !important;
  color: white;
}
.page1-search > .page1-search-right {
  display: flex;
  align-items: center;
}
.page1-search > .page1-search-right .layui-form-item {
  margin: 0;
}
.page1-search > .page1-search-right .layui-form-item > .layui-input-inline {
  width: 100px;
  margin-right: 0;
}
.page1-search > .page1-search-right .layui-form-label {
  padding-right: 5px;
  width: 56px;
}
.page1-search > .page1-search-right .layui-input {
  height: 30px;
  margin-top: 5px;
  border: 1px solid #c0cde0;
}
.page1-search > .page1-search-right > button {
  margin-left: 10px;
}
